                       <!DOCTYPE html>
                          <html lang="fr">           
                           <head>
                            <meta charset="utf-8">
                            <title>BikeShop - Home</title>
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                            <link rel="stylesheet" href="./stylesheets/style.css">
                            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
                              </head>
                                        <body>
                                               <div class="container">
                                                     <div id="banner"> 
                                                        <img src="./images/bike-logo.svg" alt="" id= "logo" style = "width: 5%"> The Bike Shop Experience
                                                              </div>
                                                    
                                                                 <div id="shop-background">
                                                                </div>
                                                                
                                                                <div class="row">
                                                                    <!-- These size tools are provided by Bootstrap. It enables the auto resizing of the elements relatively to the size of the screen -->
                                                                      <!-- <div class="col-12 col-sm-6 col-md-4 bike-card">
                                                                        <div class="card text-center">
                                                                          <img class="card-img-top" src="./images/bike-1.jpg">
                                                                          <div class="card-body">
                                                                            <h5 class="card-title">Model BIKO45</h5>
                                                                            <span class="shop-price">679€</span>
                                                                            <a href="/shop" class="btn btn-outline-info btn-sm">Buy</a>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                      <div class="col-12 col-sm-6 col-md-4 bike-card">
                                                                        <div class="card text-center">
                                                                          <img class="card-img-top" src="./images/bike-2.jpg">
                                                                          <div class="card-body">
                                                                            <h5 class="card-title">Model ZOOK7</h5>
                                                                            <span class="shop-price">699€</span>
                                                                            <a href="shop" class="btn btn-outline-info btn-sm">Buy</a>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                      <div class="col-12 col-sm-6 col-md-4 bike-card">
                                                                        <div class="card text-center">
                                                                          <img class="card-img-top" src="./images/bike-3.jpg">
                                                                          <div class="card-body">
                                                                            <h5 class="card-title">Model LIKO89</h5>
                                                                            <span class="shop-price">979€</span>
                                                                            <a href="shop" class="btn btn-outline-info btn-sm">Buy</a>
                                                                          </div>
                                                                        </div>
                                                                      </div>



                                                                          <div class="col-12 col-sm-6 col-md-4 bike-card">
                                                                            <div class="card text-center">
                                                                              <img class="card-img-top" src="./images/bike-4.jpg">
                                                                              <div class="card-body">
                                                                                <h5 class="card-title">Model BIKO45</h5>
                                                                                <span class="shop-price">679€</span>
                                                                                <a href="shop" class="btn btn-outline-info btn-sm">Buy</a>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-12 col-sm-6 col-md-4 bike-card">
                                                                            <div class="card text-center">
                                                                              <img class="card-img-top" src="./images/bike-5.jpg">
                                                                              <div class="card-body">
                                                                                <h5 class="card-title">Model ZOOK7</h5>
                                                                                <span class="shop-price">699€</span>
                                                                                <a href="shop" class="btn btn-outline-info btn-sm">Buy</a>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                          <div class="col-12 col-sm-6 col-md-4 bike-card">
                                                                            <div class="card text-center">
                                                                              <img class="card-img-top" src="./images/bike-6.jpg">
                                                                              <div class="card-body">
                                                                                <h5 class="card-title">Model LIKO89</h5>
                                                                                <span class="shop-price">979€</span>
                                                                                <a href="shop" class="btn btn-outline-info btn-sm">Buy</a>
                                                                              </div>
                                                                            </div>
                                                                    
     -->

      <%
      for(var i=0; i<databike.length; i++) {

          %>
      <div class="col-12 col-sm-6 col-md-4 bike-card" >
        <div class="card text-center"id="galere">
          <img class="card-img-top" src="<%=databike[i].photo%>"></img>
          <h5 class="card-title"> <%=databike[i].nom%> </h5>
          <span class="shop-price"> <%=databike[i].prix%> </span>
          <form method="POST" action="/shop">
            <input type="hidden" name="bikeNomFromFront" value="<%=databike[i].nom%>">
            <input type="hidden" name="bikePrixFromFront" value="<%=databike[i].prix%>">
            <input type="hidden" name="bikePhotoFromFront" value="<%=databike[i].photo%>">
            <input type="hidden" name="bikeQuantityFromFront" value="1">
            <button type="submit" class="btn btn-outline-info btn-sm" name="button">Buy</button>
          </form>     
         </div>
    </div>
  <%
    }
    %>



  </div>
                                                                </div>

     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                                                          </body>
                                                         </html>